@import url('https://fonts.googleapis.com/css?family=Poppins:100, 200, 300, 400, 500, 600, 700, 800, 900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: sans-serif;
}

#fullpage {
    position: relative;
    width: 100%;
    height: 100%;
}

.fullsection {
    width: 100%;
    height: 100%;
    /* position: relative; */
}

ul, li {
    margin: 0;
    padding:0;
    list-style: none;
}

/* ==================================================================================================== */
/* <<< main >>> */
/* < pager > */     

.quick {
    position: fixed;
    /* right:20px; */
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.quick li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-bottom: 12px;
    border: 3px dotted #fff;
    cursor: pointer;
}

.quick .on {
    background:#fff;
}

.quick .white_on {
    background:#fff; 
}

.quick .black_on {
    background:#000;
    /* background:#f8b646; */
}

/* ================================================== */
/* ==================================================================================================== */
/* << section1 >> */

.full1 {
    background: linear-gradient(#000, #110623);
}

.full1 section {
    width: 100%;
    height: 100%;
}

.full1 section img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: color-dodge;
}

.talk-bubble {
    background: beige;
    width: 200px;
    height: 80px;
    position: relative;
    position: absolute;
    border-radius: 10px;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 0 0 -5px 20px #fff;
}

.talk-bubble::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 26px solid beige;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
}

.talk-bubble section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.talk-container {
    overflow: hidden;
    height: 40px;
    line-height: 40px;
}

.talk-container h1 {
    font-size: 20px;
    font-weight: 600;
    float: left;
    float: center;
    display: inline;
    color: #fff;
    color: #000;
}

.talk-container ul {
    padding-left: 55px;
    animation: talk-bubble 10s infinite;
}

.talk-container ul li {
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
}

.talk-container ul li:nth-child(1) { color: #f00; }
.talk-container ul li:nth-child(2) { color: #fc9; }
.talk-container ul li:nth-child(3) { color: #f0f; }
.talk-container ul li:nth-child(4) { color: #0cf; }

@keyframes talk-bubble {
    0%, 12.66%, 100% {
        /* transform: translate3d(0,0,0); */
        transform: translateY(0);
    }
    16.66%, 29.32% {
        /* transform: translate3d(0,-25%, 0); */
        transform: translateY(-25%);
    }
    33.32%, 45.98% {
        /* transform: translate3d(0,-50%, 0); */
        transform: translateY(-50%);
    }
    49.98%, 62.64% {
        /* transform: translate3d(0,-75%, 0); */
        transform: translateY(-75%);
    }
    66.64%, 79.30% {
        /* transform: translate3d(0,-50%, 0); */
        transform: translateY(-50%);
    }
    83.30%, 95.96% {
        /* transform: translate3d(0,-25%, 0); */
        transform: translateY(-25%);
    }
}

.full1 .astronaut {
    position: absolute;
    left: 50%;
    left: 40%;
    /* transform: translateX(-50%); */
    top: 20%;
    animation: planet_floatation 3s infinite both;
}

.full1 .astronaut img {
    width: 400px;
}

.planet {
    position: absolute;
    animation: planet_floatation 3s infinite both;
}

.Mercury {
    top: 300px;
    left: 35%;
}

.Mercury img {
    width: 100px;
}

.Mercury img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.Venus {
    top: 550px;
    left: 60%;
}

.Venus img {
    width: 150px;
}

.Venus img:hover {
    transform: scale(1.1);
}

.Earth {
    position: absolute;
    top: 15%;
    left: 80%;
    animation: planet_floatation 3s infinite both;
}

.Earth img {
    width: 200px;
    height: 200px;
}

.Earth img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.full1 .Moon {
    position: absolute;
    top: -3%;
    /* right: -20px; */
    right: -2%;
    /* left: 91%; */
    mix-blend-mode: screen;
    animation: planet_floatation 3s infinite both;
}

.full1 .Moon img {
    width: 200px;
}

.full1 .Moon img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.galaxy {
    position: absolute;
}

.g1 {
    top: 10%;
    left: 35%;

}

.g1 img {
    width: 100px;
    transform: rotate(30deg);
}

.g2 {
    bottom: -10%;
    left: 35%;
}

.g2 img {
    width: 100px;
    transform: rotate(90deg);
}

.g3 {
    top: 600px;
    left: 96%;
    opacity: .7;
}

.g3 img {
    width: 100px;
    transform: rotate(90deg);
}

.g4 {
    top: 0px;
    left: 70%;
    mix-blend-mode: screen;
}

.g4 img {
    width: 50px;
}

.stone {
    position: absolute;
    top: 100px;
    left: 200px;
    left: 60%;
    animation: planet_floatation 3s infinite both;
    /* opacity: .9; */
}

.stone img {
    width: 50px;
}

.stone img:hover {
    transform: scale(1.1);
}

.sun {
    position: absolute;
    top: -3%;
    left: -680px;
    border-radius: 50%;
    width: 969px;
    height: 969px;
    width: 1024px;
    height: 1024px;
    /* background: linear-gradient(#ffa07a, #f08080); */
    /* background: linear-gradient(to top, #ffa07a, #ffb6c1); */
    /* background: linear-gradient(#ffa07a, #ffc41f); */
    background: linear-gradient(#ffa07a, #fffacd);
    /* background: linear-gradient(to top,#ffa07a, #fffacd); */
    box-shadow: 0 0 5px #ffb6c1,
                0 0 25px #ffb6c1,
                0 0 50px #ffb6c1,
                0 0 100px #ffb6c1;
    /* box-shadow: 0 0 5px #ffd31d,
                0 0 25px #ffd31d,
                0 0 50px #ffd31d,
                0 0 100px #ffd31d; */
    box-shadow: 0 0 5px #ffa07a,
                0 0 25px #ffa07a,
                0 0 50px #ffa07a,
                0 0 100px #ffa07a;
    /* transform: rotateZ(-40deg); */
    /* transform: translate3d(-130deg); */
    
    /* perspective: 3000px; */
    /* transform: skewX(-130deg); */
    animation: sun 10s infinite both;
}

@keyframes sun {
    0% {
        background: linear-gradient(#ffa07a, #fffacd);
        transform: translateY(-5px);
        animation-timing-function: ease-in;
        box-shadow: 0 0 5px #ffa07a,
                    0 0 25px #ffa07a,
                    0 0 50px #ffa07a,
                    0 0 100px #ffb6c1;
    }
    24% {
        background: linear-gradient(#ffa077, #fffacd);
        transform: translateY(0px);
        animation-timing-function: ease-in;
        box-shadow: 0 0 25px #ffa07a,
                    0 0 50px #ffa07a,
                    0 0 100px #ffa07a,
                    0 0 150px #ffb6c1;
    }
    40% {
        background: linear-gradient(#ffa074, #fffacd);
        transform: translateY(5px);
        animation-timing-function: ease-in;
        box-shadow: 0 0 50px #ffa07a,
                    0 0 100px #ffa07a,
                    0 0 150px #ffa07a,
                    0 0 200px #ffb6c1;
    }
    65% {
        background: linear-gradient(#ffa071, #fffacd);
        transform: translateY(10px);
        animation-timing-function: ease-in;
        box-shadow: 0 0 100px #ffa07a,
                    0 0 150px #ffa07a,
                    0 0 200px #ffa07a,
                    0 0 250px #ffb6c1;
    }
    82% {
        background: linear-gradient(#ffa074, #fffacd);
        transform: translateY(5px);
        animation-timing-function: ease-in;
        box-shadow: 0 0 50px #ffa07a,
                    0 0 100px #ffa07a,
                    0 0 150px #ffa07a,
                    0 0 200px #ffb6c1;
    }
    93% {
        background: linear-gradient(#ffa077, #fffacd);
        transform: translateY(0px);
        animation-timing-function: ease-in;
        box-shadow: 0 0 25px #ffa07a,
                    0 0 50px #ffa07a,
                    0 0 100px #ffa07a,
                    0 0 150px #ffb6c1;
    }
    100% {
        background: linear-gradient(#ffa07a, #fffacd);
        transform: translateY(-5px);
        animation-timing-function: ease-in;
        box-shadow: 0 0 5px #ffa07a,
                    0 0 25px #ffa07a,
                    0 0 50px #ffa07a,
                    0 0 100px #ffb6c1;
    }
}

@keyframes planet_floatation {
    0% {
        transform: translateY(-5px);
        animation-timing-function: ease-in;
        
    }
    24% {
        transform: translateY(0px);
        animation-timing-function: ease-in;
    }
    40% {
        transform: translateY(5px);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(10px);
        animation-timing-function: ease-in;
    }
    82% {
        transform: translateY(5px);
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(0px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(-5px);
        animation-timing-function: ease-in;
    }
}

/* ==================================================================================================== */
/* << section2 >> */

.full2 {
    background: linear-gradient(#110623, #2b1055);
}

.full2 section {
    width: 100%;
    height: 100%;
}

.full2 section img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: color-dodge;
}

.full2 .Moon {
    position: absolute;
    top: 100%;
    left: 84%;
    mix-blend-mode: screen;
    animation: planet_floatation 3s infinite both;
    /* z-index: 2; */
}

.full2 .Moon img {
    /* width: 200px; */
    /* height: 200px; */
}

.full2 .Moon img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.full2 .setllite {
    position: absolute;
    top: 105%;
    left: 70%;
    animation: planet_floatation 3s infinite both;
}

.full2 .setllite img:hover {
    transform: scale(1.1);
}

.full2 .laser {
    position: absolute;
    width: 200px;
    height: 10px;
    top: 120%;
    top: 118%;
    left: 60%;
    background: linear-gradient(#e0ffff, #faf0e6);
    border-radius: 50%;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    /* box-shadow: 0 0 5px #A2E5FD,
                0 0 25px #A2E5FD,
                0 0 50px #A2E5FD,
                0 0 100px #A2E5FD; */
    /* box-shadow: 0 0 5px #b7e8fa,
                0 0 25px #b7e8fa,
                0 0 50px #b7e8fa,
                0 0 100px #b7e8fa; */
    /* box-shadow: 0 0 5px #ffb6c1,
                0 0 25px #ffb6c1,
                0 0 50px #ffb6c1,
                0 0 100px #ffb6c1; */
    transform: rotate(-30deg);
    transform: rotate(-24deg);
    opacity: .9;
    animation: laser 3s ease-in infinite;
}

@keyframes laser {
    0% {
        opacity: 0;
    }
    16.66% {
        opacity: 0.3;
    }
    33.32% {
        opacity: 0.6;
    }
    49.98% {

        opacity: 0.9;

    }
    66.64% {
        opacity: 0.6;

    }
    83.30% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}

.full2 .screen {
    position: absolute;
    top: 125%;
    width: 950px;
    height: 500px;
    background: linear-gradient(#e0ffff, #fff);
    border-radius: 10px;
    left: 8%;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    opacity: 0.9;
}

/* .full2 .screen:hover {
    transform: scale(1.1);
} */

.full2 .light-saber {
    position: relative;
    position: absolute;
    top: 30%;
    top: 110%;
    /* top: 1000px; */
    border-radius: 10px;
    left: 5%;
    width: 400px;
    height: 20px;
    background: #fff;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    /* animation: fade_left 1s ease 0s forwards; */
    animation: fade_left 1s ease 0s backwards;
}

.light-saber-plus {
    animation: fade_left 1s ease 0s forwards;
    /* transform: translate(100px, 0); */
    transition: all .5s ease;
}

.full2 .light-saber::after {
    content: "";
    position: absolute;
    background: #03e9f4;
    width: 75%;
    height: 100%;
    border-radius: 10px;
    /* inset: (0 0 50% 0);
    inset: (0 50% 0 0);
    inset: (100%, 0, 0, 0); */
}

.full2 .ladder {
    position: absolute;
    top: 130%;
    right: 0;
    transform: rotate(4deg);
    z-index: 1;
}

.full2 .ladder img {
    height: 3400px;
}

@keyframes fade_left {
    0%{
        opacity:0;
        transform:translateX(-100%);
    }
    100%{
        opacity: 1;
        transform:translateX(0)
    }
}

/* .full2 canvas {
    width: 100%;
    height: 95%;
    }

.full2 p {
    color: white;
    z-index:999999;
    display: block;
    opacity: 1;
    position: relative;
}

.full2 div {
    background: #000;
    color: white;
    z-index:999999;
    display: block;
    opacity: 1;
    height: 5%;
} */

/* ==================================================================================================== */
/* << section3 >> */

.full3 {
    background: linear-gradient(#2b1055, #7597de);
}

.full3 section {
    width: 100%;
    height: 100%;
}

.full3 section img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: color-dodge;
}

/* ==================================================================================================== */
/* << section4 >> */

.full4 {
    background: linear-gradient(#7597de, #c8dde8);
    display: flex;
    align-items: center;
    /* perspective: 1200px; */
    /* perspective: 1200px;
    perspective: 3000px;
    perspective: 1000px;
    perspective: 500px; */
}

.cloud {
    position: absolute;
    animation: planet_floatation 3s infinite both;
}

.cloud1 {
    position: absolute;
    top: 310%;
    left: 20%;
    opacity: 0.8;
}

.cloud1 img {
    width: 200px;
}

.cloud2 {
    position: absolute;
    top: 310%;
    left: 10%;
}

.cloud2 img {
    width: 300px;
    /* opacity: .9; */
}

.cloud2-1 {
    position: absolute;
    top: 320%;
    left: 53%;
}

.cloud2-1 img {
    width: 200px;
    opacity: .7;
}

.cloud3 {
    position: absolute;
    top: 307%;
    left: 80%;
    z-index: 1;
    opacity: 0.6;
}

.cloud3 img {
    width: 150px;
}

.cloud4 {
    position: absolute;
    top: 320%;
    left: 40%;
}

.cloud4 img {
    width: 400px;
}

.cloud5 {
    position: absolute;
    top: 310%;
    left: 70%;
    opacity: .95;
    z-index: 1;
}

.cloud5 img {
    width: 300px;
}

.sunlight {
    position: absolute;
    top: 300%;
    /* left: 0; */
    /* mix-blend-mode: overlay; */

    /* mix-blend-mode: soft-light; */
    /* mix-blend-mode: lighten; */
    /* mix-blend-mode: hard-light; */
    /* mix-blend-mode: luminosity; */
    /* opacity: .4; */
}

.sunlight img {
    width: 50%;
}

.book {
    transform-style: preserve-3d;
    position: relative;
    position: absolute;
    /* top: 35%; */
    left: 50%;
    transform: translateX(-50%);
    /* width: 100%; */
    height: 300px;
    /* height: 100%; */
    cursor: pointer;
    backface-visibility: visible;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.front, .back {
    background: navy;
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    /* transform: rotateY(-10deg) scale(1.02); */
    /* transform: scale(1.01); */
}

.back {
    /* transform: rotateZ(1deg) translateY(3%) scale(1.02); */
    transform: translateY(4%) scale(1);
}

.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
    /* transform: rotateY(-10deg) translateY(1%) scale(1); */
    transform: translateY(3%) scale(1);
}   
  
.front, .page1, .page3, .page5 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}

.page1 { 
    background: #efefef;
}

.page2 {
    background: #efefef;
}

.page3 {
    background: #f5f5f5;
}

.page4 {
    background: #f5f5f5;
}
  
.page5 {
    background: #fafafa;
}
  
.page6 {
    background: #fdfdfd;
}
  
.book:hover .front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page1 {
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page2 {
    transform: rotateY(-30deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page3 {
    transform: rotateY(-140deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page4 {
    transform: rotateY(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page5 {
    transform: rotateY(-130deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page6 {
    transform: rotateY(-50deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .back {
    transform: rotateY(-20deg) scale(1.1);
}

/* ==================================================================================================== */
/* << section5 >> */

.full5 {
    background: linear-gradient(to top, #ddebf1, #60aad7);
    background: linear-gradient(to top, #ddebf1, #c8dde8);
    background: linear-gradient(#c8dde8, #fff);
}

.full5 section {
    display: flex;
    width: 100%;
    height: 100%;
}

.full5 section img {
    width: 100%;
    /* object-fit: cover; */
    /* width: 2000px; */
}

.green {
    position: absolute;
    top: 400%;
    left: 50%;
    /* transform: translateX(-50%); */
}

.green img {
    width: 1000px;
    /* width: 100%;
    height: 100%; */
}